<div id="shopping-cart" ng-controller="cartController">
Name: <input type="text" ng-model="order.name">
<ul>
<li ng-repeat="order in orders">
Name: {{order.name}}
Description: {{order.description}}
Price: {{order.price}}
</li>
</ul>
</div>