<!doctype html>
<html>
  <head>
    <!-- load here angular and bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="app.js"></script>
    <script src="app.config.js"></script>

  </head>
  <body ng-app="myPizzaApp">
    <!-- add here your view -->
    <div ng-controller="myPizzaController as pizzaController">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="badge">{{getCart.length}}</span>
    </button>
	    <ul>
			<li ng-repeat="pizza in pizzas">
				<a href="#detail/{{pizza.id}}">{{ pizza.name }}</a>
				<button ng-click="addToCart(pizza);" class="btn btn-primary">Add to cart</button>
			</li>
	    </ul>
    </div>
    <div ng-view></div>

    <div ng-include="'templates/cart.html'" ng-controller="detailController"></div>

    <!-- load your app.js here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>